.profile {
  display: flex;
  margin: 40px 0 0;
  padding: 0;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 880px;
}

@media (min-width:400px) and (max-width:900px) {
  .profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.214;
  }
}

.profile__position {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 500px) {
  .profile__position {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
  }
}

